* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 

}

body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #E5E5E5;
    
}

.descuentos {
    background-color: #1CD1B0;
    
        
}

.titulo {
    width: 100%;
    background-color: #00669F;
    position: fixed;
    padding-top: 25px;
    padding-left: 25px;
    box-shadow: -5px 5px #00000040;
}

.caja {
    height: 1400px;
    width: 800px;
}