* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 

}

.bannerdesc {
    background-color:#1CD1B0;
    width: 100%;
    height: 23px;
    color: black;
    font-weight: 550;
}

.bannerppal {
    background-color: #00669F;
    width: 100%;
    height: 81px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 5px gainsboro;
    
}

.bannerppal img {
    width: 99px;
    height: 74px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

body {
    background-image: url("../img/fondogrande.png");
    background-repeat: no-repeat;
    background-size: cover;
 
    
    
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.boxperfilcolumn {
    background-color: #F3F3F3;
    width: 546px;
    height: 456px;
    border-radius: 45px;
    margin-bottom: 116px;
    margin-top: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfilrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfilcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfilcolumn h2 {
    color:#2C0187;
    font-size: 32px;
    text-decoration: underline;
    text-align: center;
    margin-top: -65px;
    margin-bottom: 15px;
}

.perfilcolumn p {
    font-size: 17px;
    text-align: justify;
    width: 500px;
    height: 158px; 
    margin-bottom: 14px;   
}

.harleypic {
    border-radius: 50%;
    position: relative;
    top: -80px;
    left: -15px;
    width: 160px;
    height: 160px;
}

.hearticon {
    position: relative;
    left: -160px;
}

#home {

    background-color:#2C0187;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 14px;
    font-size: large;
    position: relative;
    margin-top: -10px;

}



footer {
    background-color: #00669F;
    color: white;
    text-align: center;
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    position: relative;
    bottom: -254px;
}

.perfilrow img {
    margin-bottom: 15px;
}

