* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 

}

.bannerdesc {
    background-color:#1CD1B0;
    width: 100%;
    height: 23px;
    color: black;
    font-weight: 550;
}

.bannerppal {
    background-color: #00669F;
    width: 100%;
    height: 81px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    
}

.bannerppal img {
    width: 99px;
    height: 74px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

.barranav {
    background-color: #001D2D;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 5px gainsboro;
    }

.barranav p {
    margin: 10px;
    font-size: 16px;
    color: white;
}

.columnform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    background-color: #00669F;
    color: white;
    width: 955px;
    height: 833px;
    border-radius: 49px;
    font-size: 20px;
}

.columntitulo {
    text-align: center;
    height: 70px;
}


.formulariorow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 80%;
    width: 90%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    align-content: center;
    height: 80%;
    width: 45%;
}



#name, #date {
    width: 343px;
    height: 63px;
    border-radius: 15px;
}

select {
    width: 343px;
    height: 63px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

textarea {
    width: 343px;
    height: 307px; 
    border-radius: 15px; 
    font-size: 20px; 
    margin-top: 30px;
}

button {
    width: 466px;
    height: 87px;
    border-radius: 23px;
    background-color: #1CD1B0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;  
    margin-bottom: 10px;
}

input {
    margin-top: 15px;
    margin-bottom: 10px;
}

footer {
    background-color: #00669F;
    color: white;
    text-align: center;
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.zonappal {
    width: 100%;
    height: 1129px;
    display: flex;
    justify-content: center;
    align-items: center;
}
