* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 

}

.bannerdesc {
    background-color:#1CD1B0;
    width: 100%;
    height: 23px;
    color: black;
    font-weight: 550;
}

.bannerppal {
    background-color: #00669F;
    width: 100%;
    height: 81px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 5px gainsboro;
    
}

.bannerppal img {
    width: 99px;
    height: 74px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

.barranav {
    background-color: #001D2D;
    color: white;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 5px gainsboro;
}

.barranav p {
    margin: 10px;
    font-size: 16px;
    color: white;
}

section h2 {
    font-weight: 700;
    font-size:72px;
}

footer {
    background-color: #00669F;
    color: white;
    text-align: center;
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.contactbox {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    padding: 10%;
    
    
}

#email, #name {
    width: 620px;
    height: 60px;
}


#email:invalid {
    background-color: rgba(255, 116, 116, 0.356);
    
}




#consulta {
    width: 620px;
    height: 250px;   
    margin-bottom: 50px; 
}

.buttoncolumn button {
    width: 300px;
    height: 54px;
    border-radius: 23px;
}

#resetear {
    background-color: #888888;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

#entrar {
    background-color: #1CD1B0;
    font-size: 24px;
    font-weight: 600;
}

#resetear:hover {
    background-color: #888888b7;    
}

#entrar:hover {
    background-color: #1cd1b0a4;
}

.contactbox h2, input {
    margin-bottom: 20px;
}

