* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 

}

.bannerdesc {
    background-color:#1CD1B0;
    width: 100%;
    height: 23px;
    color: black;
    font-weight: 550;
}

.bannerppal {
    background-color: #00669F;
    width: 100%;
    height: 81px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 5px gainsboro;
    
}

.bannerppal img {
    width: 99px;
    height: 74px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

section h2 {
    font-weight: 700;
    font-size:72px;
}

section input {
    width: 620px;
    height: 60px;
    font-size: larger;
}

section p {
    font-size: 22px;

}

section button {
    background-color: #1CD1B0;
    border-radius: 23px;
    width: 614px;
    height: 54px;
    font-size: 24px;
    margin-bottom: 20px;
}


footer {
    background-color: #00669F;
    color: white;
    text-align: center;
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

/* box settings */

.loginbox {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    padding: 10%;
    margin-bottom: 9%;
    
}

.loginbox .user {
    margin-top: 50px;
    margin-bottom: 20px;

}

#passwd {
    margin-bottom: 60px;
}

#passwd:hover {
    font-size: 20px;
    font-weight: 600;
}

#user:hover {
    font-size: 20px;
    font-weight: 600;
}
