* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 

}

.bannerdesc {
    background-color:#1CD1B0;
    width: 100%;
    height: 23px;
    color: black;
    font-weight: 550;
}

.bannerppal {
    background-color: #00669F;
    width: 100%;
    height: 81px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    
}

.bannerppal img {
    width: 99px;
    height: 74px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

.barranav {
    background-color: #001D2D;
    color: white;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 5px gainsboro;
}

.barranav p {
    margin: 10px;
    font-size: 16px;
    color: white;
}

.seccionperfiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.caja {
    width: 300px;
    height: 529px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    margin-top: 300px;
    margin-bottom: 300px;
    box-shadow: 0px 5px gainsboro;
    
}

.caja h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    position: relative;
    bottom: 15%;

}


.perfil {
    border-radius: 50%;
    position: relative;
    width: 130px;
    height: 130px;
    bottom: 85px;

    
     
    
}

.fondo {
    position: absolute;
    bottom: 55%;
    
}

.caja i {
    position: relative;
    color: red;
    margin-bottom: 190px;
    margin-right: 85%;

}

.caja p {
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    bottom: 10%;
}

button {
    width: 128px;
    height: 70px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color:#00669F;
    position: relative;
    bottom: 35px;

}

footer {
    background-color: #00669F;
    color: white;
    text-align: center;
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}