* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 

}

.bannerdesc {
    background-color:#1CD1B0;
    width: 100%;
    height: 23px;
    color: black;
    font-weight: 550;
}

.bannerppal {
    background-color: #00669F;
    width: 100%;
    height: 81px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    
}

.bannerppal img {
    width: 99px;
    height: 74px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

.barranav {
    background-color: #001D2D;
    color: white;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 5px gainsboro;
}

.barranav p {
    margin: 10px;
    font-size: 16px;
}

.formulariocompleto {
    background-color: #00669F;
    width: 960px;
    height: 832px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.formulariocompleto h2 {
    text-align: center;
    width: 960px;
    height: 1px;
    font-size: 40px;
    color: white;
}  

.formulariocompleto span {
    text-align: center;
    color: white;
    
}

