* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("img/img1.png");
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    background-color: #F0A83E;
    color: white;
    
}

h4 { 
    color: #3C2313;    
}

div {
    color: #F0A83E;
}

#patita {
    width: 50px;
    height: 50px;
}

footer {
    background-color: #3C2313;
    color: white;
}

h3 {
    color: #F0A83E;
    font-weight: 700;
}

.picprod {
    height: 260px;
    width: 260px;
}

.preshop {
    text-align: center;
}